<body>
    <br>
    <h1>This is a collection of shaders I'm working on using three.js</h1>
    <br>
    <ul>
        <h2>Tutorials:</h2>
        <li>
            <a href="/test">My First Page (Sphere)</a>
        </li>
        <li>
            <a href="/abstract">My Second Page (Perlin noise distortion)</a>
        </li>
        <li>
            <a href="/gradient">My Third Page (Gradients)</a>
        </li>
        <li>
            <a href="/cartoon">My Fourth Page (Cartoony Shader)</a>
        </li>
        <li>
            <a href="/particles">My Fifth Page (Particles)</a>
        </li>
        <h2>Original Creations:</h2>
        <li>
            <a href="/reflection">My First Original Page (Reflections)</a>
        </li>
    </ul>
</body>